<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBUayBQbcaIwdFqWgGhVs0ZlamPgYGl0Ik</string>
	<key>GCM_SENDER_ID</key>
	<string>1031067992369</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webapps.web-search</string>
	<key>PROJECT_ID</key>
	<string>search-in-web-b0c9a</string>
	<key>STORAGE_BUCKET</key>
	<string>search-in-web-b0c9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031067992369:ios:a7eee08f3e45627af17010</string>
</dict>
</plist>